---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import Slider from "../components/Slider.astro";
import SliderTexto from "../components/SliderTexto.astro";
import MisionIcon from "../components/icons/Mision.astro";
import VisionIcon from "../components/icons/Vision.astro";
import AboutCard from "../components/AboutCard.astro";

const ABOUT = [
  {
    title: "MISION",
    description:
      "Lideramos la transformación digital en ingeniería estructural, fusionando diseño computacional avanzado con creatividad humana para ofrecer soluciones óptimas y marcar nuevos límites en el campo.",
    url: "/mision-img.png",
  },
  {
    title: "VISION",
    description:
      "Fusionamos creatividad y tecnología para soluciones óptimas en ingeniería estructural, utilizando inteligencia artificial para proyectos ágiles e innovadores, redefiniendo estándares globales",
    url: "/vision-img.png",
  },
];

const SERVICES = [
  {
    title: "BIM Development",
    description:
      "Domine el diseño con BIM. Curso para optimizar proyectos de construcción, mejorar precisión, reducir costos y mejorar colaboración. Ideal para arquitectos, ingenieros y empresas del sector.",
    url: "/BIM-development-img.jpeg",
  },
  {
    title: "Detail Engineering",
    description:
      "Aumente la seguridad y eficiencia de sus estructuras. Curso para optimizar estructuras de forma segura y eficiente. Reduce el peso, mejora la resistencia y minimiza costos. Ideal para ingenieros, profesionales y empresas del sector.",
    url: "/detail-engineering-img.jpeg",
  },
  {
    title: "AI Implementation",
    description:
      "Impulse su negocio con la inteligencia artificial. En GEN ofrecemos soluciones personalizadas de IA para automatizar procesos, optimizar la toma de decisiones y mejorar la eficiencia en todas las áreas de su empresa.",
    url: "/AI-Implementation-img.jpeg",
  },
];
---

<Layout title="Inicio | GEN+" description="xd">
  <main>
    <section
      class="bg-black-blue bg-opacity-85 relative w-full pb-44 pt-36 text-center"
    >
      <img
        class="absolute bottom-0 -z-10 w-full h-full"
        src="/home-bg.png"
        alt="Home background image about a construction"
      />
      <h1
        class="text-white text-6xl pb-4 mx-44 text-pretty font-bold opacity-90 tracking-wide leading-tight"
      >
        AI, COMPUTATIONAL DESIGN & VIRTUAL CONSTRUCTION
      </h1>
      <p
        class="text-white text-[28px] mx-28 text-pretty font-light opacity-95 leading-snug"
      >
        We develop advanced solutions for digital prototyping and process
        automation in the development of structural/BIM models, through
        programming and implementing artificial intelligence in projects, in
        order to maximize efficiency and provide superior value to our
        customers.
      </p>
    </section>

    <section
      id="services"
      class="pt-4 services-container text-pretty text-center"
    >
      <h1 class="py-16 text-5xl font-bold">NUESTROS SERVICIOS</h1>
      <div class="flex gap-x-1">
        <ServiceCard services={SERVICES[0]} class="bg-black-blue" />
        <ServiceCard services={SERVICES[1]} class="bg-skyblue" />
        <ServiceCard services={SERVICES[2]} class="bg-black-blue" />
      </div>
      <h2 class="text-4xl font-bold pt-16 pb-7">Trainning In-House</h2>
      <p class="text-2xl font-medium opacity-65 mx-14">
        We develop advanced solutions for digital prototyping and process
        automation in the development of structural/BIM models, through
        programming and implementing artificial
      </p>

      <div class="py-11">
        <Slider />
        <SliderTexto />
        <Slider />
      </div>
    </section>

    <section id="about" class="flex w-full py-14 px-16 gap-x-12 justify-center">
      {ABOUT.map((about) => <AboutCard {...about} />)}
    </section>

    <section id="contact" class="contact-container pt-1 mt-5">
      <div class="flex d-flex mb-4">
        <div class="px-16 w-2/4">
          <h1 class="text-5xl font-medium py-4 pb-6">
            GENERATIVE & OPTIMAL SOLUTIONS
          </h1>
          <p class="font-light text-lg text-pretty">
            Colaboramos con personas ambiciosas con mentes creativas. Hablemos
            de tu proyecto y construyamos algo grande juntos.
          </p>

          <p class="font-light text-lg py-4">
            Contáctanos <a
              href="https://mail.google.com/mail/?view=cm&to=hello@genplus.com"
              target="_blank"
              class="font-bold">hello@genplus.com</a
            >
          </p>
        </div>

        <Form />
      </div>
      <Footer />
    </section>
  </main>
</Layout>

<style>
  .contact-container {
    background-image: url("/contact-bg.png");
    background-size: cover;
  }

  .services-container {
    background-image: url("/services-bg.png");
    background-size: 100% auto;
  }
</style>
