---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import SliderTexto from "../components/SliderTexto.astro";
import SliderItem from "../components/Slider-Item.astro";
import Whatsapp from "../components/icons/Whatsapp.astro";
import Brochure from "../components/icons/Brochure.astro";
import CaretDown from "../components/icons/Caret-down.astro";
import CaretUp from "../components/icons/Caret-up.astro";
import SponsorSlider from "../components/Sponsor-Slider.astro";
import Send from "../components/icons/Send.astro";
import Download from "../components/icons/Download.astro";

const SERVICES = [
  {
    id: 1,
    title: "GESTIÓN BIM",
    description: [
      "Metodología BIM | VDC",
      "Modelado BIM 4D | 5D",
      "Renderizados",
    ],
    url: "/services/Gestión BIM.webp",
  },
  {
    id: 2,
    title: "AUTOMATIZACIÓN BIM",
    description: [
      "Automatización de Procesos",
      "Interoperabilidad BIM",
      "Herramientas GUI",
    ],
    url: "/services/Automatización BIM.webp",
  },
  {
    id: 3,
    title: "DETAIL ENGINEERING",
    description: [
      "Rebar Detailing",
      "Steel Detailing",
      "Metrados y Presupuestos",
    ],
    url: "/services/Detail Engineering.webp",
  },
  {
    id: 4,
    title: "DISEÑO COMPUTACIONAL",
    description: [
      "Diseño Computacional",
      "Diseño Paramétrico",
      "Diseño Generativo",
    ],
    url: "/services/Diseño computacional.webp",
  },
  {
    id: 5,
    title: "INGENIERÍA ESTRUCTURAL",
    description: [
      "Análisis Estructural",
      "Diseño Estructural",
      "Verificación Estructural",
    ],
    url: "/services/Ingeniería Estructural.webp",
  },
  {
    id: 6,
    title: "INTEGRATED OPTIMIZATION",
    description: [
      "Structural Optimization",
      "Resource Optimization",
      "Sustainable Optimization",
    ],
    url: "/services/Integrated Optimization.webp",
  },
  {
    id: 7,
    title: "DESARROLLO WEB",
    description: [
      "UX/UI Development",
      "Full Stack Development",
      "Business Analytics",
    ],
    url: "/services/Desarrollo web.webp",
  },
  {
    id: 8,
    title: "AI IMPLEMENTATION",
    description: ["Generative AI", "Machine Learning", "AI Automation Process"],
    url: "/services/AI Implementation.webp",
  },
  {
    id: 9,
    title: "TRAINNING IN-HOUSE",
    description: [
      "Diseño Computacional BIM+",
      "Automatización y Optimización",
      "Inteligencia Artificial",
    ],
    url: "/services/Training in House.webp",
  },
];

const LOGOS = [
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 0.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 1.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 2.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 3.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 4.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 5.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 6.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 7.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 8.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 9.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 10.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 11.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 12.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 13.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 14.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 15.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 16.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 17.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 18.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 19.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 20.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 21.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 22.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 23.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 24.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 25.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 26.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 27.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 28.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 29.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 30.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 31.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 32.webp",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/Artboard 3 copy 33.webp",
  },
];
---

<Layout
  title="Inicio | GEN+"
  description="Impulsamos la transformación digital en la ingeniería estructural mediante la innovación en diseño computacionl BIM  y optimización estructural. Automatización. Diseño Paramétrico. Diseño Generativo. IA. Machine Learning"
>
  <main>
    <a
      class="sticky-button-1"
      href="https://wa.me/+51902760892/?text=¡Hola! Me gustaría agendar una reunión para saber más acerca de GEN+ y los servicios que brindan."
      target="_blank"
    >
      <div class="dropdown-container">
        <div class="dropdown-icon">
          <Whatsapp class="max-sm:w-6" />
        </div>
        <img src="/header-separator.svg" alt="" />
        <span
          class="dropdown-text"
          data-section="sticky-button-1"
          data-value="button-description">Contáctanos</span
        >
      </div>
    </a>
    <a
      class="sticky-button-2"
      href="https://wa.me/+51902760892/?text=https://api.whatsapp.com/send?phone=+51902760892&text=Hola.%20Quiero%20Solicitar%20el%20Brochure%20de%20GEN+."
      target="_blank"
    >
      <div class="dropdown-container">
        <div class="dropdown-icon">
          <Brochure class="max-sm:w-6" />
        </div>
        <img src="/header-separator.svg" alt="" />
        <span
          class="dropdown-text"
          data-section="sticky-button-2"
          data-value="button-description">Descargar Brochure</span
        >
      </div>
    </a>

    <section id="home" class="home-container">
      <div class="home-content">
        <div class="home-video-container">
          <video
            autoplay
            muted
            loop
            src="/backgrounds/home-bg.mp4"
            class="home-video"></video>
        </div>
        <div class="home-background-degre"></div>
        <span
          class="home-title"
          data-section="home-container"
          data-value="title"
        >
          Ingeniería Moderna:
        </span>
        <span class="home-text" data-section="home-container" data-value="text">
          Integrando tecnología, innovación y colaboración para un futuro
          sostenible
        </span>
        <a
          href="#services"
          class="home-button"
          data-section="home-container"
          data-value="know-more">CONOCE MAS</a
        >
      </div>
    </section>

    <section id="about" class="about-container">
      <span class="title" data-section="about-container" data-value="title"
        >NOSOTROS</span
      >
      <p
        class="about-description"
        data-section="about-container"
        data-value="about-description"
      >
        Ofrecemos soluciones avanzadas de digitalización y automatización de
        procesos con diseño computacional, construcción virtual e inteligencia
        artificial, optimizando eficiencia y calidad en todas las fases del
        ciclo de inversión de proyectos, aportando un valor significativo a
        nuestros colaboradores
      </p>
    </section>

    <section id="services" class="services-container">
      <div class="services-content">
        <h1 class="title" data-section="services-container" data-value="title">
          NUESTROS SERVICIOS
        </h1>
        <div class="card-services">
          {
            SERVICES.map((service) => (
              <ServiceCard
                service={service}
                class={`carousel-item ${service.id === 2 || service.id === 5 || service.id === 8 ? "bg-skyblue" : "bg-black-blue"}`}
              />
            ))
          }
        </div>

        <!-- <ServicesSlider  services={SERVICES} /> -->
      </div>
      <div class="input-display-services">
        <input type="checkbox" id="input-display-services" />
        <label for="input-display-services"
          ><span data-section="services-container" data-value="all-services"
            >Ver todos los servicios</span
          >
          <span class="caret-down"
            ><CaretDown class="w-[6px] fill-skyblue" /></span
          >
          <span class="caret-up"><CaretUp class="w-[6px] fill-skyblue" /></span>
        </label>
      </div>
    </section>

    <section class="sliders-container">
      <div class="slider-content">
        <div class="slider-bg">
          <div class="text-logos-bg">
            <div class="slider-container">
              <SliderTexto />
              <div class="slider relative overflow-hidden flex">
                <div class="slider-track flex gap-x-10 max-md:gap-x-[15px]">
                  {LOGOS.map((LOGOS) => <SliderItem {...LOGOS} />)}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="collabs-bg">
          <div class="title-bg"></div>
          <div class="logos-bg"></div>
          <div class="collabs-bg-white"></div>
          <SponsorSlider />
        </div>

        <a
          class="brochure-download"
          href="https://wa.me/+51902760892/?text=https://api.whatsapp.com/send?phone=+51902760892&text=Hola.%20Quiero%20Solicitar%20el%20Brochure%20de%20GEN+."
          target="_blank"
        >
          <img src="/brain-img.png" alt="" />
          <span
            class="download-text"
            data-section="sliders-container"
            data-value="download-text"
            >Hola! quiero descargar el brochure de GEN+</span
          >
          <div class="download-button">
            <Send class="absolute top-0 max-sm:size-[21px]" />
            <Download
              class="absolute top-[25%] right-[15%] max-sm:size-[9px] max-sm:top-[23%] max-sm:right-[23.5%]"
            />
          </div>
        </a>
      </div>
    </section>

    <section id="contact" class="contact-container mt-5">
      <div class="contact-content">
        <div class="contact-description">
          <h1
            class="contact-title"
            data-section="contact-container"
            data-value="contact-title"
          >
            GENERATIVE AND OPTIMAL DESIGN SOLUTIONS
          </h1>
          <p
            class="font-light text-xl text-pretty contact-text"
            data-section="contact-container"
            data-value="contact-text"
          >
            Contáctenos para ver cómo podemos mejorar su eficiencia y alcanzar
            sus objetivos
          </p>

          <p
            class="font-light text-xl text-pretty contact-text-media"
            data-section="contact-container"
            data-value="contact-text-media"
          >
            Contáctenos para ver cómo podemos mejorar su eficiencia y alcanzar
            sus objetivos
          </p>

          <div class="contact-details">
            <p
              class="contact-details-title font-light text-xl"
              data-section="contact-container"
              data-value="contact-details-title"
            >
              Contáctanos:
            </p>
            <a
              href="https://mail.google.com/mail/?view=cm&to=Coordinador@genplusdesign.com"
              target="_blank"
              class="font-bold">Coordinador@genplusdesign.com</a
            >
            <span>/</span>
            <span>995567873</span>
          </div>
        </div>
        <Form />
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  /* main {
    max-width: 1440px;
    margin-inline: auto;
    position: relative;
  } */

  .sticky-button-1 {
    position: fixed;
    top: 200px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 10;
    cursor: pointer;
  }

  .sticky-button-2 {
    position: fixed;
    top: 300px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 10;
  }

  .dropdown-container {
    width: 80px; /* Inicialmente solo muestra el icono */
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    background: #2165ff;
    box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.78) inset;
    color: #fff;
    font-family: "plusjakartasans-semibold";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.1px;
    transition:
      width 0.3s ease,
      padding-left 0.3s ease; /* Transición para la animación */
    overflow: hidden;
  }

  .dropdown-container img {
    opacity: 0;
    height: 68px;
    margin-left: auto;
  }

  .dropdown-text {
    opacity: 0;
  }

  .dropdown-container:hover {
    width: 254px;
    gap: 17px;

    img,
    .dropdown-text {
      opacity: 1;
      visibility: visible;
      text-align: center;
    }
  }

  .home-container {
    height: 614px;
    background: rgba(10, 36, 76, 0.8);
  }

  .home-content {
    width: 1440px;
    margin-inline: auto;
    height: 613px;
    padding: 125px 0px 18px 84px;
    position: relative;
    font-family: "ruberoid-semibold";
    color: white;
    /* background-image: url("/backgrounds/home-bg.mp4");
    background-size: 100% 100%; */
    display: flex;
    flex-direction: column;

    .home-video-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      .home-video {
        object-fit: cover;
      }
    }

    .home-background-degre {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(10, 36, 76, 0.8);
    }

    .home-title {
      font-family: "ruberoid-light";
      font-size: 35px;
      font-style: normal;
      line-height: 55px; /* 157.143% */
      letter-spacing: 0.035px;
      z-index: 1;
    }

    .home-text {
      max-width: 789px;
      font-size: 45px;
      font-weight: 600;
      line-height: 55px; /* 122.222% */
      letter-spacing: 0.045px;
      text-wrap: pretty;
      z-index: 1;
    }

    .home-button {
      width: fit-content;
      display: inline-flex;
      padding: 12px 20px;
      margin-top: 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      background: var(--Azul-2, #2165ff);
      box-shadow:
        0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 0px 14.6px 0px rgba(255, 255, 255, 0.56) inset;
      z-index: 1;
    }
  }

  .about-container {
    width: 100%;
    padding: 80px 160px 40px;
    background-image: url("/backgrounds/about-bg.jpg");
    background-size: 100% 100%;

    p {
      display: flex;
      max-width: 1175px;
      max-height: 221px;
      margin-inline: auto;
      text-wrap: pretty;
      text-align: center;
      color: #0a244c;
      font-family: "plusjakartasans-regular";
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 45px; /* 150% */
      letter-spacing: 0.03px;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    color: #2165ff;
    font-family: "Ruberoid-semibold";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px; /* 250% */
    letter-spacing: 0.02px;
  }

  .services-container {
    width: 100%;
    background-image: url("/backgrounds/service-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .services-content {
      width: 1440px;
      padding: 80px 32px 58px;
      margin-inline: auto;

      .title {
        margin-top: 35px;
      }

      .card-services {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 40px;
      }
    }

    .input-display-services {
      display: none;
    }
  }

  .sliders-container {
    width: 100%;
    padding-top: 48px;
    background-image: url("/backgrounds/sliders-bg.svg");
    background-size: cover;

    .slider-content {
      width: 1440px;
      height: 630px;
      margin-inline: auto;
      position: relative;

      .slider-bg {
        width: 100%;
        height: 83%;
        position: absolute;
        bottom: 0;

        .text-logos-bg {
          width: 96%;
          height: 70%;
          margin-inline: auto;
          border-radius: 10px;
          background: #fff;
          box-shadow: 0px 0px 15px 0px rgba(33, 101, 255, 0.57);
        }
      }

      .collabs-bg {
        width: 100%;
        height: 46%;
        position: absolute;
        bottom: 0;

        .title-bg {
          width: 70%;
          height: 90%;
          margin-inline: auto;
          border-radius: 10px 10px 0 0;
          background-color: white;
          filter: drop-shadow(0px 0px 5px #2165ff);
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translate(-50%);
        }

        .logos-bg {
          width: 100%;
          height: 90%;
          border-radius: 10px;
          background-color: white;
          filter: drop-shadow(0px 0px 5px #2165ff);
          position: absolute;
          bottom: 0;
        }

        .collabs-bg-white {
          width: 70%;
          height: 95%;
          background-color: white;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }

    .brochure-download {
      width: 804px;
      height: 59px;
      padding: 0px 10px 0 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-radius: 30px;
      margin-inline: auto;
      align-items: center;
      background: #fff;
      box-shadow: 0px 2px 13.5px 0px rgba(0, 0, 0, 0.25);

      span {
        color: #000;
        text-align: center;
        leading-trim: both;
        font-family: "ruberoid-regular";
        font-size: 20px;
        font-style: normal;
        font-weight: 450;
        line-height: 50px; /* 250% */
        letter-spacing: 0.02px;
      }

      img {
        width: 60px;
      }

      .download-button {
        width: 44px;
        height: 44px;
        position: relative;
      }
    }
  }

  .slider-container {
    width: 100%;
    padding: 50px 22px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* background-image: url("/backgrounds/slider-bg.svg"); */
    background-size: 100% 200%;
    background-repeat: no-repeat;
  }

  .contact-container {
    width: 100%;
    padding-top: 40px;
    background-image: url("/backgrounds/contact-bg.webp");
    background-size: cover;
  }

  .contact-content {
    width: 1440px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding: 52px 70px;
  }

  .contact-description {
    max-width: 645px;
    display: flex;
    flex-direction: column;

    .contact-title {
      margin-bottom: 48px;
      color: #0a244c;
      font-family: "ruberoid-medium";
      font-size: 45px;
      font-style: normal;
      font-weight: 500;
      line-height: 60px; /* 133.333% */
      letter-spacing: -2.25px;
    }

    .contact-text-media {
      display: none;
    }

    .contact-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0px 15px;
      margin-top: 20px;
      font-size: 20px;
    }
  }

  /*CSS para el slider*/
  .slider .slider-track {
    animation: 60s slide infinite linear;
  }

  @keyframes slide {
    from {
      transform: translateX(-230%);
    }

    to {
      transform: translateX(0);
    }
  }

  @media (max-width: 768px) {
    main {
      width: 100%;
    }

    .sticky-button-1 {
      top: 90px;
    }
    .sticky-button-2 {
      top: 140px;
    }

    .sticky-button-1,
    .sticky-button-2 {
      right: 0;
      gap: 5px;
    }

    .dropdown-container {
      width: 40px;
      height: 40px;
      padding: 13px 10px;
      border-radius: 4px 0 0 4px;
      font-size: 8px;
    }

    .dropdown-container:hover {
      width: 100px;
      gap: 5px;
      line-height: normal;
    }

    .home-container {
      height: 172px;
    }

    .home-content {
      width: 100%;
      height: 172px;
      padding: 45px 16px 10px;

      .home-video {
        height: 100%;
      }

      .home-title {
        font-size: 14px;
        line-height: normal;
      }

      .home-text {
        width: 256px;
        font-size: 18px;
        font-family: "ruberoid-medium";
        line-height: normal;
      }
      .home-button {
        display: none;
      }
    }

    .about-container {
      padding: 15px 28px 0 37px;

      .title {
        font-size: 14px;
      }

      p {
        font-size: 12px;
        line-height: 17px;
      }
    }

    .services-container {
      width: 100%;

      .services-content {
        width: 100%;
        padding: 30px 17px 17px;

        .title {
          margin-top: 0px;
          margin-bottom: 17px;
          font-size: 14px;
        }

        .card-services {
          height: 315px;
          overflow-y: hidden;
          gap: 15px;
        }
      }

      .input-display-services {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        color: #2165ff;
        text-align: center;
        font-family: "ruberoid-semibold";
        font-size: 9px;
        letter-spacing: 0.009px;

        input {
          display: none;

          &:checked {
          }
        }

        label {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 5px;
          margin-inline: auto;
          align-items: center;

          .caret-up {
            display: none;
          }
        }
      }
    }

    .caret-up {
      display: none;
    }

    .input-display-services input:checked + label .caret-down {
      display: none;
    }

    .input-display-services input:checked + label .caret-up {
      display: inline;
    }

    .sliders-container {
      padding-top: 20px;

      .slider-content {
        width: 100%;

        .slider-bg {
          height: 280px;

          .text-logos-bg {
            height: 80%;
          }
        }

        .collabs-bg {
          height: 210px;

          .title-bg {
            width: 90%;
            height: 200px;
            margin-inline: auto;
            border-radius: 4px 4px 0 0;
            background-color: white;
            filter: drop-shadow(0px 0px 5px #2165ff);
          }

          .logos-bg {
            width: 100%;
            height: 85%;
            border-radius: 4px;
            background-color: white;
            filter: drop-shadow(0px 0px 5px #2165ff);
            position: absolute;
            bottom: 0;
          }

          .collabs-bg-white {
            width: 90%;
            height: 90%;
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }

      .brochure-download {
        width: 263px;
        height: 33px;
        margin-bottom: 20px;
        margin-inline: auto;
        span {
          font-size: 8px;
          line-height: normal;
        }
        img {
          width: 28px;
        }

        .download-button {
          width: 21px;
          height: 21px;
        }
      }
    }

    .slider-container {
      margin-top: 10px;
      padding: 0px 10px;
      row-gap: 10px;

      .slider {
        margin-top: 10px;
      }
    }

    .contact-container {
      padding-top: 0px;
    }

    .contact-content {
      width: 100%;
      flex-direction: column;
      padding: 10px 27px;
      margin-top: 0px;
    }

    .contact-description {
      width: 100%;

      .contact-title {
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.7px;
        margin-bottom: 0px;
      }

      .contact-text {
        display: none;
      }

      .contact-text-media {
        margin-top: 3px;
        display: block;
        line-height: 15px; /* 125% */
        letter-spacing: 0.06px;
        text-align: center;
      }

      p {
        font-size: 12px;
      }

      .contact-details {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0px 5px;
        margin-top: 7px;
        font-size: 12px;
      }
    }
  }
</style>

<script>
  //Dropdowns
  document.addEventListener("DOMContentLoaded", function () {
    const dropdownButton = document.getElementById(
      "input-display-services"
    ) as HTMLInputElement;
    const cardServices = document.querySelector(
      ".card-services"
    ) as HTMLDivElement;
    const caretUp = document.querySelector(".caret-up") as HTMLSpanElement;
    const caretDown = document.querySelector(".caret-down") as HTMLSpanElement;

    dropdownButton!.addEventListener("change", () => {
      if (dropdownButton.checked) {
        cardServices!.style.height = "auto";
        caretUp!.style.display = "inline";
        caretDown!.style.display = "none";
      } else {
        cardServices!.style.height = "315px";
        caretUp!.style.display = "none";
        caretDown!.style.display = "inline";
      }
    });
  });

  //Github animation for slider

  const carouselElement = document.querySelector(".collabs-bg") as HTMLElement;

  carouselElement.addEventListener("mousemove", (event: MouseEvent) => {
    const rect = carouselElement.getBoundingClientRect();
    const x = event.clientX - rect.left;
    const y = event.clientY - rect.top;

    // Calcular el ángulo de rotación basado en la posición del mouse
    const rotateX = (y / rect.height - 0.5) * 5; // Ángulo de rotación Y
    const rotateY = (x / rect.width - 0.5) * -3; // Ángulo de rotación X

    // Aplicar la transformación y sombra
    carouselElement.style.transform = `perspective(1000px) rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
  });

  carouselElement.addEventListener("mouseleave", () => {
    // Restaurar la sombra y la transformación original al salir el mouse
    carouselElement.style.transform =
      "perspective(1000px) rotateX(0deg) rotateY(0deg)";
    carouselElement.style.boxShadow = "0 4px 8px rgba(0, 0, 0, 0.1)";
  });

  //Carousel
</script>
