---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import SliderTexto from "../components/SliderTexto.astro";
import AboutCard from "../components/AboutCard.astro";
import SliderItem from "../components/Slider-Item.astro";

const ABOUT = [
  {
    title: "MISION",
    description:
      "Impulsamos la evolución digital de la ingeniería y construcción, priorizando el diseño optimizado. Con el poder del diseño generativo y la sinergia entre la creatividad humana y la tecnología, buscamos redefinir la ingeniería moderna, haciendo de cada proyecto un modelo de innovación y excelencia en la construcción.",
    url: "/mision-img.png",
  },
  {
    title: "VISION",
    description:
      "Ser referente a nivel global en Ingeniería computacional estructural, trascendiendo las fronteras de la ingeniería convencional. Aspiramos a redefinir la ingeniería moderna, estableciendo nuevos estándares de innovación, optimización y sostenibilidad en el futuro de la ingeniería y construcción.",
    url: "/vision-img.png",
  },
];

const SERVICES = [
  {
    title: "BIM Development",
    description:
      "Domine el diseño con BIM. Curso para optimizar proyectos de construcción, mejorar precisión, reducir costos y mejorar colaboración. Ideal para arquitectos, ingenieros y empresas del sector.",
    url: "/BIM-development-img.jpeg",
  },
  {
    title: "Detail Engineering",
    description:
      "Aumente la seguridad y eficiencia de sus estructuras. Curso para optimizar estructuras de forma segura y eficiente. Reduce el peso, mejora la resistencia y minimiza costos. Ideal para ingenieros, profesionales y empresas del sector.",
    url: "/detail-engineering-img.jpeg",
  },
  {
    title: "AI Implementation",
    description:
      "Impulse su negocio con la inteligencia artificial. En GEN ofrecemos soluciones personalizadas de IA para automatizar procesos, optimizar la toma de decisiones y mejorar la eficiencia en todas las áreas de su empresa.",
    url: "/AI-Implementation-img.jpeg",
  },
];

const LOGOS = [
  {
    description: "Logo de C#",
    url: "/Softwares/csharp-logo.png",
  },
  {
    description: "Logo de Java",
    url: "/Softwares/java-logo.png",
  },
  {
    description: "Logo de Trimble Connect",
    url: "/Softwares/trimbleconnect-logo.png",
  },
  {
    description: "Logo de Grasshoper",
    url: "/Softwares/grasshoper-logo.png",
  },
  {
    description: "Logo de Rhinoceros",
    url: "/Softwares/rhinoceros-logo.png",
  },
  {
    description: "Logo de Tekla",
    url: "/Softwares/tekla-logo.png",
  },
  {
    description: "Logo de MathCAD",
    url: "/Softwares/mathcad-logo.png",
  },
  {
    description: "Logo de RM Bridge",
    url: "/Softwares/rmbridge-logo.png",
  },
  {
    description: "Logo de CSI ETABS",
    url: "/Softwares/etabs-logo.png",
  },
  {
    description: "Logo de SAP2000",
    url: "/Softwares/sap2000-logo.png",
  },
  {
    description: "Logo de CSI Bridge",
    url: "/Softwares/csibridge-logo.png",
  },
];

const LOGOS2 = [
  {
    description: "Logo de Sofistik",
    url: "/Softwares/sofistik-logo.png",
  },
  {
    description: "Logo de RFEM",
    url: "/Softwares/rfem-logo.png",
  },
  {
    description: "Logo de Dynamo",
    url: "/Softwares/dynamo-logo.png",
  },
  {
    description: "Logo de Revit",
    url: "/Softwares/revit-logo.png",
  },
  {
    description: "Logo de Navis",
    url: "/Softwares/naviswork-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/python-logo.png",
  },
  {
    description: "Logo de Bentley Syncrho",
    url: "/Softwares/syncrho4d-logo.png",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/smathsolver-smathwriter-logo.png",
  },
];
---

<Layout title="Inicio | GEN+" description="xd">
  <main>
    <section
      class="bg-black-blue bg-opacity-85 relative w-full pb-44 pt-36 text-center"
    >
      <img
        class="absolute bottom-0 -z-10 w-full h-full"
        src="/home-bg.png"
        alt="Home background image about a construction"
      />
      <h1
        class="text-white text-5xl pb-4 mx-44 text-pretty font-bold opacity-90 tracking-wide leading-tight"
      >
        AI, COMPUTATIONAL DESIGN & VIRTUAL CONSTRUCTION
      </h1>
      <p
        class="text-white text-2xl mx-28 text-pretty font-light opacity-95 leading-snug"
      >
        We develop advanced solutions for digital prototyping and process
        automation in the development of structural/BIM models, through
        programming and implementing artificial intelligence in projects, in
        order to maximize efficiency and provide superior value to our
        customers.
      </p>
    </section>

    <section id="about" class="flex w-full py-14 px-16 gap-x-12 justify-center">
      {ABOUT.map((about) => <AboutCard {...about} />)}
    </section>

    <section
      id="services"
      class="pt-4 services-container text-pretty text-center"
    >
      <h1 class="py-16 text-4xl font-bold">NUESTROS SERVICIOS</h1>
      <div class="flex gap-x-1">
        <ServiceCard services={SERVICES[0]} class="bg-black-blue" />
        <ServiceCard services={SERVICES[1]} class="bg-skyblue" />
        <ServiceCard services={SERVICES[2]} class="bg-black-blue" />
      </div>
      <h2 class="text-xl font-bold pt-16 pb-7">Trainning In-House</h2>
      <p class="font-light text-lg opacity-95 mx-20 text-pretty">
        Ofrecemos a su equipo los conocimientos y habilidades necesarios para
        sobresalir en el diseño computacional BIM y la optimización estructural,
        promoviendo la excelencia en la ejecución de proyectos.
      </p>

      <div class="py-11">
        <div class="slider relative overflow-hidden flex">
          <div class="slider-track flex">
            {LOGOS.map((logo) => <SliderItem {...logo} />)}
            {LOGOS.map((logo) => <SliderItem {...logo} />)}
          </div>
        </div>
        <SliderTexto />
        <div class="slider relative overflow-hidden flex">
          <div class="slider-track flex">
            {LOGOS2.map((logos2) => <SliderItem {...logos2} />)}
            {LOGOS2.map((logos2) => <SliderItem {...logos2} />)}
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact-container pt-1 mt-5">
      <div class="flex d-flex mb-4">
        <div class="px-16 w-2/4">
          <h1 class="text-5xl font-medium py-4 pb-6">
            GENERATIVE & OPTIMAL SOLUTIONS
          </h1>
          <p class="font-light text-lg text-pretty">
            Colaboramos con personas ambiciosas con mentes creativas. Hablemos
            de tu proyecto y construyamos algo grande juntos.
          </p>

          <p class="font-light text-lg py-4">
            Contáctanos <a
              href="https://mail.google.com/mail/?view=cm&to=hello@genplus.com"
              target="_blank"
              class="font-bold">hello@genplus.com</a
            >
          </p>
        </div>

        <Form />
      </div>
      <Footer />
    </section>
  </main>
</Layout>

<style>
  .contact-container {
    background-image: url("/contact-bg.png");
    background-size: cover;
  }

  .services-container {
    background-image: url("/services-bg.png");
    background-size: 100% auto;
  }

  /*CSS para el slider*/
  .slider .slider-track {
    animation: 60s slide infinite linear;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
</style>
