---
const { title, description, url } = Astro.props;
---

<div class="w-[45%] text-center">
  <div class="p-5">
    <h5
      class="mb-2 pb-7 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {title}
    </h5>
    <img class="rounded-lg h-80 mx-auto" src={url} alt="" />
    <p
      class="mb-3 pt-7 font-light text-[18px] text-pretty text-gray-700 dark:text-gray-400"
    >
      {description}
    </p>
  </div>
</div>
