---
import LinkedIn from "./icons/LinkedIn.astro";
---

<footer class="footer-container">
  <div class="footer-content">
    <div class="first-container">
      <span>Términos generales y condiciones</span>
      <span>Politicas de privacidad</span>
    </div>

    <div class="second-container">
      <img src="/gen-logo-footer.svg" alt="" />

      <span>@ copyrigth 2024 - Generative and Optimal design solutions</span>
    </div>

    <div class="third-container">
      <span>CONOCE MÁS: </span>
      <a href="https://linkedin.com/company/gen-plus-design/" target="_blank">
        <LinkedIn />
      </a>
    </div>
  </div>
</footer>

<style>
  .footer-container {
    background-color: #0a244c;
  }
  .footer-content {
    width: 1440px;
    height: 133px;
    padding: 44px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "plusjakartasans-semibold";

    .first-container {
      display: flex;
      gap: 41px;
      font-size: 14px;
      font-weight: 600;
      line-height: 23px; /* 164.286% */
      letter-spacing: 0.014px;

      > span:first-child {
        max-width: 132px;
      }

      > span:last-child {
        max-width: 96px;
      }
    }

    .second-container {
      display: flex;
      flex-direction: column;
      gap: 15px;

      img {
        height: 15px;
      }
    }

    .third-container {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }

  @media (max-width: 768px) {
    .footer-content {
      height: 87px;
      padding: 17px 16px;

      .first-container {
        width: auto;
        flex-direction: column;
        gap: 13px;
        font-size: 12px;
        line-height: 14px; /* 116.667% */

        > span:first-child {
          width: 118px;
        }

        > span:last-child {
          text-wrap: nowrap;
        }
      }

      .second-container {
        gap: 7px;

        img {
          align-self: flex-end;
          width: 80px;
        }

        span {
          width: 115px;
          font-family: "ruberoid-regular";
          font-size: 8px;
          line-height: 10px; /* 125% */
          text-align: end;
        }
      }

      .third-container {
        display: none;
      }
    }
  }
</style>
