---
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import Dropdown from "./icons/Dropdown.astro";
import WorldIcon from "./icons/World.astro";
---

<nav
  class="nav-bar bg-white border-gray-200 dark:bg-gray-900 items-center font-semibold text-base"
>
  <div
    class="header-container max-w-[1440px] flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href="#home"
      class="gen-container flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        src="/gen-logo.svg"
        class="gen-logo h-4"
        alt="GENERATIVE & OPTIMAL SOLUTIONS Logo"
      />
      <img src="/header-separator.svg" alt="" class="separator" />
      <span class="self-center whitespace-nowrap dark:text-white opacity-95">
        GENERATIVE & OPTIMAL DESIGN SOLUTIONS
      </span>
    </a>

    <div
      class="list-container hidden w-full md:block md:w-auto opacity-95 font-medium items-center"
      id="navbar-default"
    >
      <ul class="nav-bar-sections">
        <li>
          <a
            href="#about"
            class="about-us-btn block text-gray-900 rounded"
            aria-current="page"
            data-section="header-container"
            data-value="about-us-btn">NOSOTROS</a
          >
        </li>
        <li>
          <a
            href="#services"
            class="services-btn block py-2 text-gray-900 rounded"
            data-section="header-container"
            data-value="services-btn">SERVICIOS</a
          >
        </li>
        <li>
          <a
            href="#contact"
            class="contact-btn block py-2 text-gray-900 rounded"
            data-section="header-container"
            data-value="contact-btn">CONTÁCTANOS</a
          >
        </li>
        <li class="cursor-pointer">
          <a class="language-btn" id="language-btn" target="_blank"
            ><WorldIcon class="size-5 rounded-sm" /><span>ES</span></a
          >
        </li>
        <li>
          <a
            href="https://linkedin.com/company/gen-plus-design/"
            target="_blank"><LinkedInIcon class="size-5 rounded-sm" /></a
          >
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <Dropdown class="dropdown-button" />
      <div class="dropdown-content">
        <a
          href="#about"
          class="about-us-btn-mobile"
          data-section="header-container"
          data-value="about-us-btn-mobile">NOSOTROS</a
        >
        <a
          href="#services"
          class="services-btn-mobile"
          data-section="header-container"
          data-value="services-btn-mobile"
          >SERVICIOS
        </a>
        <a
          href="#contact"
          class="contact-btn-mobile"
          data-section="header-container"
          data-value="contact-btn-mobile"
          >CONTÁCTANOS
        </a>
        <a href="https://linkedin.com/company/gen-plus-design/">LINKEDIN </a>
        <a class="language-btn-mobile" id="language-btn-mobile"
          ><span>ES</span>
        </a>
      </div>
    </div>
  </div>
</nav>

<style>
  .nav-bar {
    background-color: #0a244c;
  }

  .header-container {
    padding: 8px 77px;
    background-color: #0a244c;
    color: white;
  }

  .nav-bar-sections {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: white;
    }
  }

  .dropdown {
    display: none;
  }

  @media (max-width: 768px) {
    .header-container {
      width: 100%;
      padding: 13px 16px;
      position: relative;
    }

    .gen-container {
      .gen-logo {
        height: 13px;
      }

      .separator {
        display: none;
      }

      span {
        width: 112px;
        margin-left: 0px;
        text-wrap: wrap;
        font-size: 8px;
        line-height: 10px; /* 125% */
      }
    }

    .dropdown {
      display: block;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-button {
      border: none;
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #102d5c;
      min-width: 160px;
      z-index: 1;
    }

    .dropdown-content a {
      color: white;
      font-size: 10px;
      padding: 8px 30px;
      text-decoration: none;
      display: block;
    }

    /* Mostrar el contenido del dropdown al pasar el mouse por encima del contenedor */
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
</style>
