---
import LinkedInIcon from "../components/icons/LinkedIn.astro";
---

<header
  class="flex justify-between items-center py-3 w-10/12 mx-auto opacity-90 font-semibold text-base"
>
  <div class="flex items-center">
    <img class="w-20 py-3" src="/gen-logo-1.png" alt="" />
    <span class="mx-4 pb-2 text-4xl font-extralight">|</span>
    <p>GENERATIVE & OPTIMAL SOLUTIONS</p>
  </div>

  <nav class="flex scroll-smooth flex-row gap-x-10 items-center">
    <a href="#">NOSOTROS</a>
    <a href="#services">SERVICIOS</a>
    <a href="#contact">CONTÁCTANOS</a>
    <a href="#">ES <span>|</span> EN</a>
    <a
      href="https://www.linkedin.com/company/93799969/admin/feed/posts/"
      target="_blank"><LinkedInIcon class="size-7 rounded-sm" /></a
    >
  </nav>
</header>
