---
const CONTENT = [
  {
    text: "BIM Automation",
  },
  {
    text: "Structural Automation",
  },
  {
    text: "Parametric Design",
  },
  {
    text: "Virtual construction",
  },
  {
    text: "AI Implementation",
  },
];
---

<div
  class="slider pt-8 relative overflow-hidden flex font-bold text-2xl items-center text-nowrap"
>
  <div class="slider-slide flex">
    {CONTENT.map((content) => <p class="h-16 mx-10">{content.text}</p>)}
    {CONTENT.map((content) => <p class="h-16 mx-10">{content.text}</p>)}
    {CONTENT.map((content) => <p class="h-16 mx-10">{content.text}</p>)}
  </div>
</div>

<style>
  /*CSS para el slider*/

  .slider .slider-slide {
    animation: 60s slider infinite linear;
  }

  @keyframes slider {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }
</style>
