---
const LOGOS = [
  {
    description: "Logo de Python",
    url: "/Softwares/c-sharp-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/CSI-Bridge-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/dynamo-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/ETABS-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/grasshopper-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/java-logo.webp",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/mathcad-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/python-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/revit-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/RFEM-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/rhinoceros-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/sap2000-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/sofistik-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/tekla-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/trimbleconnect-logo.png",
  },
];
---

<div class="slider py-7 relative overflow-hidden flex">
  <div class="slider-track flex">
    {
      LOGOS.map((logo) => (
        <img class="h-16 mx-10" src={logo.url} alt={logo.description} />
      ))
    }
    {
      LOGOS.map((logo) => (
        <img class="h-16 mx-10" src={logo.url} alt={logo.description} />
      ))
    }
  </div>
</div>

<style>
  /*CSS para el slider*/
  .slider .slider-track {
    animation: 60s slide infinite linear;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
</style>
