---
const CONTENT = [
  {
    text: "BIM Automation",
  },
  {
    text: "Structural Automation",
  },
  {
    text: "Parametric Design",
  },
  {
    text: "Virtual construction",
  },
  {
    text: "AI Implementation",
  },
];
---

<div class="slider relative overflow-hidden flex font-bold text-xl text-nowrap">
  <div class="slider-slide flex gap-x-5">
    {
      CONTENT.map((content) => (
        <h2 class="space-x-5  max-sm:space-x-[5px]">
          <span>{content.text}</span> <span>-</span>
        </h2>
      ))
    }
    {
      CONTENT.map((content) => (
        <h2 class="space-x-5 max-sm:space-x-[5px]">
          <span>{content.text}</span> <span>-</span>
        </h2>
      ))
    }
    {
      CONTENT.map((content) => (
        <h2 class="space-x-5 max-sm:space-x-[5px]">
          <span>{content.text}</span> <span>-</span>
        </h2>
      ))
    }
    {
      CONTENT.map((content) => (
        <h2 class="space-x-5 max-sm:space-x-[5px]">
          <span>{content.text}</span> <span>-</span>
        </h2>
      ))
    }
  </div>
</div>

<style>
  /*CSS para el slider*/

  .slider .slider-slide {
    animation: 150s slider infinite linear;
  }

  @keyframes slider {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @media (max-width: 768px) {
    .slider {
    }
    .slider-slide {
      font-size: 8px;
      gap: 5px;
    }
  }
</style>
