---
const CONTENT = [
  {
    text: "Innovation",
  },
  {
    text: "Automation",
  },
  {
    text: "Integrated Optimization",
  },
  {
    text: "Parametric Design",
  },
  {
    text: "Generative Design",
  },
  {
    text: "Sustainability",
  },
  {
    text: "AI Implementation",
  },
  {
    text: "Web Development",
  },
  {
    text: "Machine Learning",
  },
  {
    text: "BIM Interoperability",
  },
  {
    text: "Virtual Construction",
  },
  {
    text: "Structural Design",
  },
  {
    text: "Computational Design",
  },
  {
    text: "Engineering 4.0",
  },
  {
    text: "Industrialization",
  },
  {
    text: "GUI Tools",
  },
  {
    text: "Rebar Detailing",
  },
  {
    text: "Steel Detailing",
  },
  {
    text: "Structural verification",
  },
  {
    text: "Business Analytics",
  },
  {
    text: "Business Inteligence",
  },
  {
    text: "Digital Twin",
  },
  {
    text: "RPA",
  },
  {
    text: "IOT",
  },
  {
    text: "Cloud Computing",
  },
  {
    text: "VDC",
  },
];
---

<div class="slider relative overflow-hidden flex font-bold text-xl text-nowrap">
  <div class="slider-slide flex gap-x-5">
    {
      CONTENT.map((content) => (
        <h2 class="space-x-5  max-sm:space-x-[5px]">
          <span>{content.text}</span> <span>-</span>
        </h2>
      ))
    }
  </div>
</div>

<style>
  /*CSS para el slider*/

  .slider .slider-slide {
    animation: 150s slider infinite linear;
  }

  @keyframes slider {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @media (max-width: 768px) {
    .slider {
    }
    .slider-slide {
      font-size: 8px;
      gap: 5px;
    }
  }
</style>
